body{
  text-align: center;
}
.mainButton {
  display: block;
  width: 200px;
  margin: 10px auto;  
  padding: 5px;
  font-size: 17px;
  text-transform: uppercase;
  border-radius: 8px;
  background-color: lightblue;
  border: 2px solid gold;
  
}
.mainButton:hover {
  background-color: lightskyblue; 
  color: white;
}
.otherButton{
  display: block;
  width: 100px;
  margin: 5px auto;  
  padding: 3px;
  font-size: 15px;
  border-radius: 8px;
  background-color: gold;
  border: 2px solid lightskyblue;
}
.otherButton:hover {
  background-color: goldenrod; 
  color: white;
}

/*-- Authentication UI --*/
.auth_Ui{
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;     
  width: 100%;          
  height: 560px;
  border-radius: 50px;
  padding: 15px;
  background-color: lightblue;
}

.auth_Ui input[type=password],
.auth_Ui input[type=email]{
  text-align: center;
  padding: 5px;
  margin: 8px;
  font-size: 17px;
}

.closeButton{ 
  border-radius: 50%;       
  width: 30px;            
  height: 30px;            
  display: flex;            
  align-items: center;     
  justify-content: center;  
  font-size: 16px;          
  background-color: lightblue;
}

.closeButton:hover {
  background-color: lightcoral; 
  color: white;
}

