.container {
  display: flex;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.userlist {
  width: 200px;
  border: 2px solid #ccc;
  background-color: #ececec;
  overflow-y: scroll;
}
.user {
  height: 30px;
  padding: 20px;
  border: 0.5px solid #ccc;
}
.selectedUser {
  height: 30px;
  padding: 20px;
  border: 0.5px solid #ccc;
  background-color: lightblue;
  background: linear-gradient(-45deg, #A8DADC, #457B9D, #F9D56E, #FAEDCD);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientBG 13s ease infinite;
}
.contentArea {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.messageList {
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  gap: 10px;
}
.footer {
  padding: 20px;
  text-align: left;
  background-color: #ececec;
}
.message {
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 16px;
  display: inline-block;
  word-wrap: break-word;
  width: auto;
  max-width: 500px;
}
.userMessage {
  background-color: lightblue; 
  align-self: flex-end;
}
.botMessage {
  background-color: #e6e6e6; 
  align-self: flex-start;
}
.swipe-button {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 10px;
  background: linear-gradient(-45deg, #FAEDCD, #F9D56E, #457B9D, #A8DADC);
  background-size: 400% 400%;
  animation: gradientBG 13s ease infinite;
}
.chat-text {
  text-align: center;
  background: black;
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientBG 13s ease infinite;
  font-weight: bold;
}
.userlist {
  text-align: center;
  background: linear-gradient(-45deg, #A8DADC, #457B9D, #F9D56E, #FAEDCD);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientBG 13s ease infinite;
}
.user {
  text-align: center;
  background: black;
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientBG 13s ease infinite;
  font-weight: bold;
}
.footer {
  padding: 20px;
  text-align: left;
  background-color: #ececec;
  color: transparent; /* Make text transparent */
  background: linear-gradient(-45deg, #FAEDCD, #F9D56E, #457B9D, #A8DADC); /* Apply gradient */
  background-size: 400% 400%;
  -webkit-background-clip: text; /* Clip gradient to text */
  -webkit-text-fill-color: transparent; /* Ensure gradient is visible */
  animation: gradientBG 13s ease infinite; /* Add animation for dynamic gradient */
}